:root {
  --font-color: #2a2a2a;
  --font-color-secondary: #757474;

  --line-color: #d7d7d7;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
button {
  border-radius: 5px;
}
.container {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}

.todo__container {
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  min-width: 500px;
}
.todo__header {
  border-bottom: 1px solid var(--line-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo__header > button {
  height: fit-content;
}

.todo__header > h1 {
  color: var(--font-color);
  font-size: 25px;
}

.add-todo {
  padding-block: 10px;
  display: flex;
  width: 100%;
  gap: 10px;
}
.add-todo input {
  padding: 10px;
  width: 100%;
  border: 1px solid var(--line-color);
  border-radius: 5px;
}
.add-todo > button {
  padding: 10px;
}
.input__kbd {
  font-size: 12px;
  font-family: monospace;
  padding-left: 5px;
  color: var(--font-color-secondary);
}
.button__help {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
